body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 35px;
}

.flexbile-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 90%;
}

.color-gradient {
    color: #ffa500;
}

.link-button {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(to right, #F9865E, #EC4F31F0);
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: 500;
    margin-top: 10px;
    position: absolute;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-back {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}


.experiance-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    padding: 10px 10px 50px 50px;
}

.flexbile-container {
    background-image: url(images/kk.png);
    background-repeat: no-repeat;
    background-position: left;
}

#baby-experiance {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#full-stick-experiance {
    border-left: 7px solid;
    border-image: linear-gradient(#FF9571, #ff9472);
    border-image-slice: 1;
}

footer p {
    text-align: center;
    padding-bottom: 5px;
}